/* ------------------------- *\
      COMPONENT LIST
\* ------------------------- */

.component-nav {
  .flex-item(1 1 auto);
  .flex-container(column);
}

.component-tools {
  padding: 0 12px;
  .flex-item(0 0 56px);
}

.component-filter {
  margin: 8px 0;
  height: 40px;
  background-image: url("../images/magnifying-glass.png");
}

.component-list {
  border-top: 1px solid @color-border;
  display: block;
  height: 1px;
  list-style: none;
  margin-top: 18px;
  margin: 0;
  overflow: scroll;
  padding: 0;
  .flex-item(1 1 auto);
}

.component-list-item {
  border-bottom: 1px solid @color-dividers;
  color: @color-text;
  cursor: pointer;
  display: block;
  padding: 19px 24px;
  line-height: @line-height;
  .text-overflow();

  &-selected {
    background-color: @color-accent;
    color: @color-secundary-text;
    font-weight: bold;
  }
}

.component-list-item-error {
  opacity: 0.5;
  text-shadow: none;
  color: grey;
  text-decoration: line-through;
}
